<body>
  

<div class="calendar">
    <div class="calendar-header">
      <button (click)="prevMonth()" class="nav-button">←</button>
      <h2>{{ currentYear }}. {{ currentMonth | monthName }}</h2>
      <button (click)="nextMonth()" class="nav-button">→</button>
    </div>
    
    <table id="calendar-table">
      <thead>
        <tr>
          <th *ngFor="let day of weekDays">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of [0,1,2,3,4,5]">
          <td *ngFor="let day of [0,1,2,3,4,5,6]"
            (click)="openDayModal(week * 7 + day - firstDayIndex + 1)"
            [ngClass]="{
              'green-day': isWorkoutDay(week * 7 + day - firstDayIndex + 1),
              'yellow-day': isRestDayColor(week * 7 + day - firstDayIndex + 1),
            }">
            <span *ngIf="week * 7 + day - firstDayIndex + 1 > 0 && week * 7 + day - firstDayIndex + 1 <= daysInMonth.length">
              {{ week * 7 + day - firstDayIndex + 1 }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <!--Felugró ablak-->
  <div *ngIf="selectedDay !== null" class="modal">
  <form class="modal-content" [formGroup]="exerciseForm" (ngSubmit)="saveWorkout()">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ currentYear }}.{{ (currentMonth + 1) | number:'2.0' }}.{{ selectedDay }}</h2>

    <div class="exercise-selector">
      <h3>Choose Exercise:</h3>
      <div class="exercise-buttons">
        <button *ngFor="let ex of availableExercises"
                mat-button
                type="button"
                (click)="addExercise(ex)">
          {{ ex }}
        </button>
      </div>
    </div>

    <div *ngIf="exerciseForm.get('exercises')?.value.length > 0">
      <h3>Selected exercises:</h3>
      <ul>
        <li *ngFor="let ex of exerciseForm.get('exercises')?.value">
          {{ ex }}
          <button mat-icon-button color="warn" type="button" (click)="removeExercise(ex)">
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      </ul>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Duration (minute)</mat-label>
      <input matInput type="number" formControlName="totalTime">
    </mat-form-field>

    <div class="modal-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="exerciseForm.invalid">
        Save
      </button>
      <button mat-stroked-button color="warn" type="button" (click)="onRestDayChange()">
        Rest Day
      </button>
    </div>
  </form>
</div>
    <!--Felugró ablak-->

  </div>
</body>
  