<div class="water-tracker">
    <h2 mat-header class="mat-title">Water Intake Tracker</h2>
  
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="addWater(100)">1 dl</button>
      <button mat-raised-button color="accent" (click)="addWater(300)">1 glass (3 dl)</button>
      <button mat-raised-button color="warn" (click)="addWater(500)">1 bottle (5 dl)</button>
      <button mat-raised-button color="primary" (click)="addWater(1000)">1 liter</button>
    </div>
  
    <div class="status">
      <mat-card>
        <mat-card-content>
          <p>{{ currentWater }} ml / {{ totalLimit }} ml</p>
          <p>{{ getPercentage() }}%</p>
          <mat-progress-bar [value]="getPercentage()" mode="determinate"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="currentWater > 0">
      <button mat-raised-button color="accent" (click)="saveWaterIntake()">Save Intake</button>
    </div>
  </div>
  